/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 1:21:18 AM
    Author     : Владимир
*/

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: medium;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #555;
    margin: auto;
    background-color: #c5e7e0;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}
/*
table {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
    margin: auto;
}
*/

.style-table-login {
    width: 400px;
    padding: 10px;
    background-color: #ace5ee;   
    margin: auto;
    margin-top: 50px;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: underline;
}
.style-text-center{   
    padding: 10px;
  /*  background-color: #ace5ee;*/
    text-align: center;
}

.text-right{
    text-align: right;
   /* margin-left: auto;  */
    float: right;
}

.style-table{        
    padding: 10px;
   /* background-color: #ace5ee; */      
    margin: auto;  

}

/* ///////////////////////////////////////////////////////
   левое (основное) меню */
#mainmenu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 20%;
    margin-left: 10px;
    margin-right: auto;
}

#mainmenu a {
  background-color: #949494;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  border-left: 5px solid #33ADFF;
  display: block;
}
#mainmenu li {
  border-left: 10px solid #6c6874;
  border-bottom: 1px solid #6c6874;
}

#mainmenu a:hover {
  background-color: #666;
  border-left: 5px solid #3333FF;
}


/* ///////////////////////////////////////////////////////
  настройки верхнего горизонтального меню*/
#topmenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #33ADFF;
  border: 2px solid #0066FF;
 /* width: 550px;*/
 /* border-radius: 20px 5px; скругленные концы */
}
#topmenu li { 
    display: inline; 
}
#topmenu a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

#topmenu a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}
/*  элементы верхнего меню - черновик'
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid #0066FF;
  border-radius: 20px 5px;
  width: 550px;
  text-align: center;
  background-color: #33ADFF;
}

#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}*/

/* ////////////////////////////////////////////////////////
  фон основной рамки */
.mainframe{    
    background-color: #ace5ee;  
    
}


/* ////////////////////////////////////////////////////////
  панель рекламы */
.promo-panel{
    width: 30%;
    margin-right: 5px;
    margin-left: auto;
/*    margin: auto;*/

}








