/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 1:21:18 AM
    Author     : Владимир
*/

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    margin: auto;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}
/*
table {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
    margin: auto;
}
*/

.style-table-login {
    width: 400px;
    padding: 10px;
    background-color: #c5e7e0;
    margin: auto;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: underline;
}
.style-text-center{   

    padding: 10px;
    background-color: #ace5ee;
    margin: auto;
    text-align: center;
}

.style-text-right{      
    padding: 10px;
    background-color: #ace5ee;
    margin: auto;
    text-align: right;    
}


.style-table{        
        padding: 10px;
        background-color: #c5e7e0;       
        margin: auto;   
}




.not-used{
background-color: #c5e7e0;
}

.level-sub-footer {
    width: 100%;
    height: 40px;
    background-color: #222;
}

.sub-footer2 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #999;
}




