/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2015, 1:21:18 AM
    Author     : Владимир
*/

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    margin: auto;
    background-color: #ace5ee;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}
/*
table {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
    margin: auto;
}
*/

.style-table-login {
    width: 400px;
    padding: 10px;
    background-color: #c5e7e0;
    margin: auto;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: underline;
}
.style-text-center{   
    padding: 10px;
    background-color: #ace5ee;
    text-align: center;
}

.style-table-right
table{ 
    width: 33%;
    padding: 10px;
    background-color: #ace5ee;
    text-align: right;
    margin-left: auto;
   
    
    
}
/*
<div style="text-align:right;">
 
<table border="1" style=" display:inline-block; background:pink; width:33%;" cellpadding="0" cellspacing="0">
<tr><td style=" text-align:left;">
fffffffffff
</td></tr></table>
 
</div>
<div style=" background:red;">dddddddddddd</div>
*/

.style-table{        
        padding: 10px;
        background-color: #c5e7e0;       
        margin: auto;  
        
}





